.container {
  height: 100vh;
}

.heroImage {
  display: grid;
  grid-template-rows: 0.2fr 1.5fr 1fr;
  grid-template-columns: 1fr 2fr;
  grid-template-areas:
    "header header"
    "hero-information ."
    "cards-row cards-row";

  height: 100%;
}

.heroInformation {
  grid-area: hero-information;

  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 2rem 0 2rem 5rem;

  h1 {
    color: #fff;
    font-size: 3rem;
  }

  > span {
    color: #adafb3;
  }

  > button {
    display: flex;

    overflow: hidden;
    width: 50%;

    margin: 1rem 0;
    background: none;
    border: 2px solid #59c8b5;
    border-radius: 0.5rem;

    span {
      display: block;
      align-self: center;
      flex: 1;
      padding: 0 12px 0 16px;
      font-weight: 500;
      color: #fff;
    }

    > div {
      height: 100%;
      background: #59c8b5;
      padding: 0 12px;

      display: flex;
      justify-content: center;
      align-items: center;

      svg {
        width: 40px;
        height: 40px;
        color: #fff;
      }
    }
  }

  > p {
    color: #adafb3;
  }
}

.cardsRow {
  grid-area: cards-row;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
  padding: 2rem;
  grid-gap: 2rem;
  color: #fff;

  @media (max-width: 1680px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  border-radius: 0.5rem;
  border: 2px solid #fff;
  overflow: hidden;
  cursor: pointer;

  > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.2rem;

    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    padding: 0.5rem 1rem;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-stretch: condensed;

    > p:first-child {
      flex: 0;
      font-size: 1.3rem;
      font-weight: 600;
    }

    > span {
      font-size: 1.1rem;
      font-weight: 500;
    }

    > p:last-child {
      display: none;
      font-size: 0.8rem;
    }
  }

  &:hover {
    > div {
      height: 100%;
      justify-content: center;
      white-space: normal;

      /* Animation on hover */
      -webkit-animation-name: hover;
      -webkit-animation-duration: 1.5s;
      animation-name: hover;
      animation-duration: 0.8s;

      @-webkit-keyframes hover {
        from {
          height: 0;
        }
        to {
          height: 100%;
        }
      }

      @keyframes hover {
        from {
          height: 0;
        }
        to {
          height: 100%;
        }
      }

      > p:first-child, span {
        display: none;
      }

      > p:last-child {
        display: block;
      }
    }
  }
}
